<div class="container">
  <form
    class="col-lg-6 mx-auto my-5"
    (ngSubmit)="submit()"
    [formGroup]="multistep"
  >
    <div *ngIf="step == 1" formGroupName="personalDetails">
      <div class="text-center mb-4">
        <h4 class="display-6">Personal Details</h4>
      </div>
      <div class="form-group mb-3">
        <label for="firstName" class="mb-1">First Name</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="lastName" class="mb-1">Last Name</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="phone" class="mb-1">Phone</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="email" class="mb-1">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
    </div>
    <div *ngIf="step == 2" formGroupName="academicDetails">
      <div class="text-center mb-4">
        <h4 class="display-6">Acedmic Details</h4>
      </div>
      <div class="form-group mb-3">
        <label for="qualification" class="mb-1">Qualification</label>
        <input
          type="text"
          id="qualification"
          formControlName="qualification"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="year" class="mb-1">Year</label>
        <input
          type="text"
          id="year"
          formControlName="year"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="college" class="mb-1">College</label>
        <input
          type="text"
          id="college"
          formControlName="college"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="place" class="mb-1">Place</label>
        <input
          type="text"
          id="place"
          formControlName="place"
          class="form-control"
        />
      </div>
    </div>

    <div *ngIf="step == 3" formGroupName="professionalDetails">
      <div class="text-center mb-4">
        <h4 class="display-6">Professional Details</h4>
      </div>
      <div class="form-group mb-3">
        <label for="companyName" class="mb-1">Company Name</label>
        <input
          type="text"
          id="companyName"
          formControlName="companyName"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="designation" class="mb-1">Designation</label>
        <input
          type="text"
          id="designation"
          formControlName="designation"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="startDate" class="mb-1">Start Date</label>
        <input
          type="date"
          id="startDate"
          formControlName="startDate"
          class="form-control"
        />
      </div>
      <div class="form-group mb-3">
        <label for="endDate" class="mb-1">End Date</label>
        <input
          type="date"
          id="endDate"
          formControlName="endDate"
          class="form-control"
        />
      </div>
    </div>

    <div class="my-4 text-center">
      <button
        type="submit"
        class="btn btn-info me-3"
        *ngIf="step != 1"
        (click)="previous()"
      >
        Previous
      </button>

      <button type="submit" class="btn btn-primary me-3" *ngIf="step != 3">
        Next
      </button>

      <button type="submit" class="btn btn-success" *ngIf="step == 3">
        Submit
      </button>
    </div>

    <br />
    {{ multistep.value | json }}
  </form>
</div>
